src/main/mule/github-actions.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="437c163d-01f1-44aa-ac20-12d057ef44a7" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="github-actionsFlow" doc:id="d4f37460-0d77-49a1-a028-07ab033bd532" >
		<http:listener doc:name="Listener" doc:id="8d5d388d-25c4-4d86-8945-e72ff2687cd9" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["It Worked"]' doc:name="Set Payload" doc:id="1bca1953-9331-44f9-aed9-ee53e735f179" />
		<logger level="INFO" doc:name="Logger" doc:id="e15fb3c8-e09b-44d4-9108-6d9567dc2327" message="#[payload]"/>
	</flow>
</mule>
